.formbox{
    margin: 10px auto;
    width: 800px;
    padding:30px;
    box-shadow: #afafb0e4 0px 0px 4px 0px;
    border-radius: 10px;
    background: floralwhite;
}

.formbox:focus-within{
    transform:scale(1.05,1.05);
    transition:0.3s all;
}


.atitle{
    font-size:30px;
    margin: 10px auto;
}

.replybox{
    width: calc(100% - 6px);
    height: 5em;
    font-size:20px;
    margin-bottom: 10px;
    padding: 5px;
    resize: none;
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
}


.other_answer{
        margin: 10px auto;
        width: 800px;
        padding:30px;
        box-shadow: #afafb0e4 0px 0px 4px 0px;
        border-radius: 10px;
        background: floralwhite;
}