.formbox{
    margin: 10px auto;
    width: 800px;
    padding:30px;
    box-shadow: #afafb0e4 0px 0px 4px 0px;
    border-radius: 10px;
    background: floralwhite;
}

.formbox:focus-within{
    transform:scale(1.05,1.05);
    transition:0.3s all;
}


.atitle{
    font-size:30px;
    margin: 0px;
    font-family: serif;
    font-weight: bold;
}

.replybox{
    width: calc(100% - 6px);
    height: 5em;
    font-size:20px;
    margin-bottom: 10px;
    padding: 5px;
    resize: none;
    border-radius: 5px;
}

.title-button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.abutton {
    padding: 0;
    background-color: #B63A22;
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;

    height: 45px;
    width: 90px;
    border-radius: 15px;

    color: floralwhite;
    font-family: serif;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 2px #afafb0e4;
                /* -1px -1px 0 #000,
                -1px 1px 0 #000,
                1px -1px 0 #000,
                0px 1px 0 #000,
                0 -1px 0 #000,
    -1px 0 0 #000, 1px 0 0 #000; */
    box-shadow:0 0 4px 0 #afafb0e4;
}

.radiobox{
    margin-bottom: 10px;
}

.radio{
    accent-color: #b63a22;
}


.other_answer{
        margin: 10px auto;
        width: 800px;
        padding:30px;
        box-shadow: #afafb0e4 0px 0px 4px 0px;
        border-radius: 10px;
        background: floralwhite;

}

.other_selection{
    font-family: serif;
    font-size:22px;
    font-weight:bold;
    border-bottom: solid 1px black;
}

.other_comment{
    margin-left:10px;
}

.nonpoint .preview{
    cursor: default;
}