body{
    background: darkgreen;
}

.preview {
    margin: 10px auto;
    width: 800px;
    padding:30px;
    box-shadow: #afafb0e4 0px 0px 4px 0px;
    border-radius: 10px;
    background: floralwhite;
}

.qtitle {
    margin-top: none;
    font-size: 25px;
    font-weight: bold;
    font-family: serif;
    color:#B63A22;
    border-bottom: solid 1px;
    margin-bottom: 10px;
}

.qproperty {
    margin-left:10px;
    display: flex;
}

.qimage {
    margin-right: 10px
}

.postbutton {
    margin: 10px;
    float: right;
    height: 20px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 5px 0;
}