#posted_comment{
    height: 100px;
    width: 100px;
    margin: auto;
}

.postbox{
    margin: 10px auto;
    width: 800px;
    padding:30px;
    box-shadow: #afafb0e4 0px 0px 4px 0px;
    border-radius: 10px;
    background: floralwhite;
    display: flex;
    flex-flow: column;
}

.posttext{
    width:calc(100% - 6px);
    resize:none;
    height: 5em;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.postoption{
    border-radius: 5px;
    border: 1px solid gray;
}

.postbutton{
    margin: 0 0 0 auto;
    padding: 0;
    background-color: #B63A22;
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;

    height: 45px;
    width: 90px;
    border-radius: 15px;

    color: floralwhite;
    font-family: serif;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 2px #afafb0e4;
                /* -1px -1px 0 #000,
                -1px 1px 0 #000,
                1px -1px 0 #000,
                0px 1px 0 #000,
                0 -1px 0 #000,
    -1px 0 0 #000, 1px 0 0 #000; */
    box-shadow:0 0 4px 0 #afafb0e4;
    margin-top:10px;
}



.optionbutton , .instead-button{
    color: #b63a22;
    margin: 0 5px; 
    padding: 2px 5px; 
    background-color: floralwhite;
    font-family:serif;
    font-weight: bold;
    border: none; 
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    box-shadow:1px 1px 6px 0 lightgray ;
}

input[type="file"]{
    display:none;
}

.instead-button {
    /* padding: 10px 40px;
    color: #ffffff;
    background-color: #384878;
    cursor: pointer; */
    margin-bottom:10px;
    width:5em;
}


.filebutton{
     /* margin: 0 0 0 auto; */
    /* padding: 0; */
    background-color: #B63A22;
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    width:150px;
}

ul {
    list-style: none;
}

.cleanbutton:before{
    content:"・";
    font-weight: bold;
}

.cleanbutton{    
    border-radius: 15px;
    background-color: transparent;
    border:none;
}

.cleanbutton:hover:before{
    content:"×";
    color:red;
    padding: 0 4px;
    border-radius: 15px;
    border: red 1px solid;
}

.commentarea , .optionarea , .filearea{
    margin-left:5px;
    border-radius: 5px;
    border-left: solid 5px #b63a22;
    margin-bottom :30px;
    padding-left: 15px;
}


.message{
    font-size: 20px;
    font-family:serif;
    font-weight: bold;
    margin-top:5px;
}

.cqtitle{
    font-size:30px;
    margin: 0px;
    font-family: serif;
    font-weight: bold;
    margin-bottom:20px;
}